<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhouzhuo810.zzapidoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- bugly start-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--bugly end-->

    <application
        android:name=".ZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />


        <activity
            android:name=".ui.act.LoginActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.act.MainActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.RevisePswdActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddProjectActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.InterfaceGroupManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddInterfaceGroupActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.InterfaceManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddInterfaceActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.RequestParamsManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.ResponseParamsManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddRequestParamsActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddResponseParamsActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.InterfaceTestActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.InterfaceTestResultActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.RequestHeaderManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddRequestHeaderActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.SettingServerActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.ImportProjectActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.InterfaceDetailsActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.PublishVersionActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddApplicationActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.ApiChooseActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.ActivityManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.FragmentManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddActivityActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.WidgetManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddWidgetActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddFragmentActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.PdfPreviewActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.QrCodeManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddQrCodeActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.ImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.UpdateQrCodeActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.act.VersionManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.VersionProjectManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.VersionRecordManageActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddVersionActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddVersionRecordActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.act.AddVersionProjectActivity"
            android:configChanges="orientation|keyboardHidden|layoutDirection|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.tencent.mm.ui.tools.ShareImgUI" />
        <activity android:name="com.tencent.mobileqq.activity.JumpActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.zhouzhuo810.zzapidoc.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>